.logo,
a.logo,
a.logo:link {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-decoration: none;

  max-width: 100%;
}

.logo__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1;
  color: #000;
}

.logo__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #6b9db9;
}
